@{
	ViewData["Title"] = "Einzelspieler Einstellungen";
}

<div class="card text-center border border-primary shadow-0">
	<div class="card-header"><h2>Einzelspieler Einstellungen</h2></div>

	<div class="card-body card-body-menu mt-4 mb-4">
		<form asp-controller="SingleplayerQuiz" asp-action="CreateNewSingleQuizSession">
			<div class="form-group form-group_ddw">
				<select class="form-control form-control-ddw" id="categorieId" name="categorieId" data-mdb-select-init>
					<option value="">Please select a category</option>
					@foreach (var category in ViewBag.Categories)
					{
						<option value="@category.CategorieId">@category.Name</option>
					}
				</select>
				<label class="form-label select-label">Kategorie</label>
			</div>
			<br />
			<button type="submit" class="btn btn-primary btn-menu" id="startQuizButton" disabled>Start Quiz</button>
		</form>
	</div>
	<div class="card-footer">2 days ago</div>
</div>

@section scripts {
	<script type="text/javascript">
		document.addEventListener('DOMContentLoaded', function () {
			var selectElement = document.getElementById('categorieId');
			var submitButton = document.getElementById('startQuizButton');

			selectElement.addEventListener('change', function () {
				submitButton.disabled = !this.value;
			});
		});
	</script>

}
