@model GetResultFromSingleQuizDto

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

@{
    int score = Model.Score;
    int pointsPerCorrectAnswer = 5;
    int correctAnswers = score / pointsPerCorrectAnswer;
}

<div class="card text-center">
    <div class="card-header">
        <h2 class="mb-5">Geschafft!</h2>
        @if (Model.Score >= 20)
        {
            <i class="fas fa-medal fa-10x mb-5" style="color: #e1e100"></i>
        } else if (Model.Score >= 10 && Model.Score < 20)
        {
            <i class="fas fa-medal fa-10x mb-5" style="color: #6d7472"></i>
        } else
        {
            <i class="fas fa-medal fa-10x mb-5" style="color: #94634e"></i>
        }
    </div>
    <div class="card-body">
        <h5 class="card-title mb-5">Du hast @correctAnswers / 5 Fragen richtig beantwortet</h5>
        <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Quiz Beenden</a>
    </div>
</div>