@{
	ViewData["Title"] = "Select Quiz Category";
}

<h2>@ViewData["Title"]</h2>

<form asp-controller="SoloQuiz" asp-action="CreateNewSingleQuizSession">
	<div class="form-group">
		<label for="categorieId">Select Category:</label>
		<select class="form-control" id="categorieId">
			<option value="">Please select a category</option>
			@foreach (var category in ViewBag.Categories)
			{
				<option value="@category.CategorieId">@category.Name</option>
			}
		</select>
	</div>
	<br/>
	<button type="submit" class="btn btn-primary">Start Quiz</button>
</form>