@model List<HighscoreDataDto>

@{
    var orderedOverallList = Model.OrderByDescending(x => x.TotalPointWorth).ToList();
}

<table id="" class="display hover" style="width:100%">
    <caption>Highscore Tabelle Gesamt</caption>
    <thead>
        <tr>
            <th>Username</th>
            <th>Spiele</th>
            <th>Punktwert</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in orderedOverallList)
        {
            <tr>
                <td>@user.UserId</td>
                <td>@user.TotalGames</td>
                <td>@user.TotalPointWorth</td>
            </tr>
        }
    </tbody>
</table>

