@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="card text-center border border-primary shadow-0">
    <div class="card-header d-flex justify-content-between align-items-center">
        <a type="button" class="btn btn-primary btn-menu-footer" asp-controller="Home" asp-action="Index" id="leftButton">Zum Hauptmenü</a>
        <h2>Impressum</h2>
        <a type="button" class="btn btn-primary btn-menu-footer" asp-controller="Home" asp-action="Privacy" id="leftButton">Datenschutz</a>
    </div>

    <div class="card-body card-body-menu mt-4 mb-4">
        <h1>Impressum</h1>
        <p>
            Kevin Johr<br />
            L&uuml;der-Cl&uuml;ver-Stra&szlig;e 25<br />
            28779 Bremen
        </p>
        <h2>Kontakt</h2>
        <p>
            Telefon: 015222633070<br />
            E-Mail: info@kevin-johr.dev
        </p>
        <p>Quelle: <a href="https://www.e-recht24.de">e-recht24.de</a></p>
    </div>
    <div class="card-footer">2 days ago</div>
</div>

