@{
	ViewData["Title"] = "Home Page";
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger"
         role="alert"
         id="ErrorMessage"
         data-mdb-position="top-right"
         data-mdb-stacking="true"
         data-mdb-width="300px"
         data-mdb-append-to-body="true">
        <p>@TempData["ErrorMessage"]<p>
    </div>
}

<div class="card text-center border border-primary shadow-0">
    <div class="card-header"><h2>Startmenü</h2></div>

    <div class="card-body card-body-menu mt-4 mb-4">
        <a type="button" asp-controller="MyArea" asp-action="MyAreaIndex" class="btn btn-primary btn-menu" data-mdb-ripple-init>Mein Bereich</a>
        <br />
        <br />
        <a type="button" asp-controller="SingleplayerQuiz" asp-action="SingleplayerIndex" class="btn btn-primary btn-menu">Einzelspieler</a>
        <br />
        <br />
        <a type="button" asp-controller="MultiplayerQuiz" asp-action="MultiplayerIndex" class="btn btn-primary btn-menu">Multiplayer</a>
    </div>
    <div class="card-footer">2 days ago</div>
</div>

@section scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            setTimeout(function () {
                // Zugriff auf das div mit der ID 'EmailSuccessful'
                var emailSuccessfulDiv = document.getElementById("ErrorMessage");
                if (emailSuccessfulDiv) {
                    emailSuccessfulDiv.style.display = "none";
                }
            }, 6000);
        });
    </script>
}