@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

	<!-- Link to the CreateQuiz page -->
	<a type="button" asp-controller="Home" asp-action="ContributeSettings" class="btn btn-primary" data-mdb-ripple-init>Mitwirken</a>
	<br/>
	<br/>
	<a type="button" asp-controller="SoloQuiz" asp-action="SoloQuizCategorySelection" class="btn btn-primary">Singleplayer Quiz</a>
</div>