@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Kein Zugriff";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Bitte überprüfen Sie ihr anmelde Daten oder registrieren Sie sich!</p>
</header>
