@model QuizMatchOverviewUserDto

@{
    ViewData["Title"] = "Mein Fortschritt";
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<div class="card text-center ">
    <div class="card-header">
        <h2>Mein Fortschritt</h2>
    </div>
    <div class="card-body">

        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button data-mdb-collapse-init
                            class="accordion-button"
                            type="button"
                            data-mdb-toggle="collapse"
                            data-mdb-target="#collapseOne"
                            aria-expanded="true"
                            aria-controls="collapseOne">
                        Gesamt Übersicht
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-mdb-parent="#accordionExample">
                    <div class="accordion-body">

                        <partial name="_overallMatchOverviewPartial" />

                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button data-mdb-collapse-init
                            class="accordion-button collapsed"
                            type="button"
                            data-mdb-toggle="collapse"
                            data-mdb-target="#collapseTwo"
                            aria-expanded="false"
                            aria-controls="collapseTwo">
                        Einzelspieler Übersicht
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-mdb-parent="#accordionExample">
                    <div class="accordion-body">

                        <partial name="_singleMatchOverviewPartial" />

                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button data-mdb-collapse-init
                            class="accordion-button collapsed"
                            type="button"
                            data-mdb-toggle="collapse"
                            data-mdb-target="#collapseThree"
                            aria-expanded="false"
                            aria-controls="collapseThree">
                        Mehrspieler Übersicht
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-mdb-parent="#accordionExample">
                    <div class="accordion-body">
                        <partial name="_multiMatchOverviewPartial" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">    
        <a type="button" class="btn btn-primary btn-menu" asp-controller="MyArea" asp-action="MyAreaIndex" id="leftButton">Zu Mein Bereich</a>
    </div>
</div>