@model List<GetAllQuestionsFromUserDto>

@{
    ViewData["Title"] = "My Questions";
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<div class="card">
    <div class="card-header text-center">
        <h2>Meine Fragen</h2>
    </div>
    <div class="d-flex justify-content-end mb-4">
        <div data-mdb-input-init class="form-outline">
            <input data-mdb-search
                   data-mdb-target="#table_modal"
                   type="text"
                   id="search_modal"
                   class="form-control" />
            <label class="form-label" for="search_modal">Search</label>
        </div>
        <button data-mdb-ripple-init class="btn btn-primary btn-sm ms-3" data-mdb-add-entry data-mdb-target="#table_modal">
            <i class="fa fa-plus"></i>
        </button>
    </div>
    <div id="question_table" class="table-editor"
         data-mdb-table-editor-init
         data-mdb-entries="5"
         data-mdb-entries-options="[5, 10, 15]">
        <table class="table">
            <thead>
                <tr>
                    <th class="th-sm" data-mdb-width="350">Frage</th>
                    <th class="th-sm" data-mdb-width="350">Kategorie</th>
                </tr>
            </thead>
            <tbody>
                    @foreach(var question in Model)
                    {
                        <tr>
                            <td>@question.QuestionText</td>
                            <td>@question.Categorie.Name</td>
                        </tr>
                    }
            </tbody>
        </table>
    </div>
</div>

