@model List<GetAllQuestionsFromUserDto>

@{
    ViewData["Title"] = "My Questions";
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<div class="card">
    <div class="card-header text-center">
        <h2>Meine Fragen</h2>
    </div>
    <div>
        <table id="questionOverview" class="display hover" style="width:100%">
            <thead>
                <tr>
                    <th>Frage</th>
                    <th>Kategorie</th>
                    <th>Aktionen</th>
                </tr>
            </thead>
            <tbody>
                    @foreach(var question in Model)
                    {
                        <tr>
                            <td>@question.QuestionText</td>
                            <td>@question.Categorie.Name</td>
                        <td><a class="btn btnGreen" asp-route-questionId="@question.QuestionId" asp-controller="CreateQuestion" asp-action="EditQuestion"><i class="fas fa-pencil"></i></a></td>
                        </tr>
                    }
            </tbody>
        </table>
    </div>
</div>

@section scripts {
    <script>
        new DataTable('#questionOverview', {
            pagingType: 'full_numbers',
            scrollX: true,
            language: {
                url: 'https://cdn.datatables.net/plug-ins/1.11.5/i18n/de-DE.json'
            }
        });
    </script>
}

